# Wherobots Astronomer Workshop Draft

In [9]:
# User input
CATALOG="org_catalog"
DATABASE="workshop"
US_POSTCODE = "73034"


# based on Dag run date
END_DATE = "2026-01-08"

# set on our end
lookback_months = 3
COUNTRY = "US"

# from within Airflow this will be passed in as CLI args to the run_python dict
# and retrieved via argparse: 

# import argparse
# from datetime import datetime
# from dateutil.relativedelta import relativedelta
# from pyspark.sql.functions import expr, col, to_timestamp

# parser = argparse.ArgumentParser()
# parser.add_argument('--catalog', type=str, default='org_catalog')
# parser.add_argument('--database', type=str, default='workshop')
# parser.add_argument('--postcode', type=str, default='75001')
# parser.add_argument('--country', type=str, default='US')
# parser.add_argument('--end-date', type=str, default=None)
# parser.add_argument('--lookback-months', type=int, default=3)
# args = parser.parse_args()

# CATALOG = args.catalog
# DATABASE = args.database
# US_POSTCODE = args.postcode
# COUNTRY = args.country
# LOOKBACK_MONTHS = args.lookback_months

In [2]:
# Imports
import argparse
from sedona.spark import *
from pyspark.sql.functions import expr, col, to_timestamp
from datetime import datetime
from dateutil.relativedelta import relativedelta

## Set up an Apache Sedona context

The context, `sedona`, is the machine that runs in the Wherobots Cloud compute environment. To connect to the SWDI data on AWS, 
we add anonymous S3 access credentials when we call `SedonaContext.builder().getOrCreate()`. 
You can read [our documentation](https://docs.wherobots.com/latest/develop/notebook-management/notebook-instance-management/) 
about how to further configure the Sedona context.

In [3]:
try:
    sedona
except NameError:
    config = SedonaContext.builder() \
    .config("fs.s3a.bucket.noaa-swdi-pds.aws.credentials.provider","org.apache.hadoop.fs.s3a.AnonymousAWSCredentialsProvider") \
    .config("spark.hadoop.fs.s3a.bucket.noaa-swdi-pds.aws.credentials.provider", "org.apache.hadoop.fs.s3a.AnonymousAWSCredentialsProvider") \
    .getOrCreate()
    sedona = SedonaContext.create(config)

Warning: Ignoring non-Spark config property: fs.s3a.bucket.noaa-swdi-pds.aws.credentials.provider
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
Setting Spark log level to "WARN".

## Setup DB

-> separate WherobotsSqlOperator s for each table in the Dag as a task group

In [4]:
sedona.sql(f"CREATE DATABASE IF NOT EXISTS {CATALOG}.{DATABASE}")

DataFrame[]

In [11]:
sedona.sql(f"""
    CREATE TABLE IF NOT EXISTS {CATALOG}.{DATABASE}.hail_raw (
        ZTIME TIMESTAMP,
        LON DOUBLE,
        LAT DOUBLE,
        WSR_ID STRING,
        CELL_ID STRING,
        RANGE INT,
        AZIMUTH INT,
        SEVPROB INT,
        PROB INT,
        MAXSIZE DOUBLE,
        geometry GEOMETRY,
        postcode STRING
    )
""")

DataFrame[]

In [17]:
sedona.sql(f"""
    CREATE TABLE IF NOT EXISTS {CATALOG}.{DATABASE}.state_boundary (
        id STRING,
        state_name STRING,
        state_code STRING,
        geometry GEOMETRY
    )
""")

DataFrame[]

In [21]:
sedona.sql(f"""
    CREATE TABLE IF NOT EXISTS {CATALOG}.{DATABASE}.postcode_areas (
        postcode STRING,
        country STRING,
        area GEOMETRY,
        created_at TIMESTAMP
    )
""")

DataFrame[]

In [25]:
sedona.sql(f"""
    CREATE TABLE IF NOT EXISTS {CATALOG}.{DATABASE}.hail_state (
        ZTIME TIMESTAMP,
        LON DOUBLE,
        LAT DOUBLE,
        WSR_ID STRING,
        CELL_ID STRING,
        RANGE INT,
        AZIMUTH INT,
        SEVPROB INT,
        PROB INT,
        MAXSIZE DOUBLE,
        geometry GEOMETRY,
        postcode STRING,
        state_code STRING
    )
""")

DataFrame[]

In [30]:
sedona.sql(f"""
    CREATE TABLE IF NOT EXISTS {CATALOG}.{DATABASE}.risk_comparison (
        area_type STRING,
        area_id STRING,
        event_count BIGINT,
        events_per_sqmi DOUBLE,
        avg_hail_size DOUBLE,
        max_hail_size DOUBLE,
        avg_severe_prob DOUBLE,
        avg_hail_prob DOUBLE,
        damaging_events BIGINT,
        damaging_per_sqmi DOUBLE,
        high_risk_events BIGINT,
        high_risk_per_sqmi DOUBLE,
        area_sqmi DOUBLE,
        updated_at TIMESTAMP
    )
""")

DataFrame[]

### Cleanup

This will be a separate Dag that resets everything to 0

In [6]:
## Delete everything
# sedona.sql(f"SHOW TABLES IN {CATALOG}.{DATABASE}").show(truncate=False)

# tables = sedona.sql(f"SHOW TABLES IN {CATALOG}.{DATABASE}").collect()

# for table in tables:
#     table_name = table['tableName']
#     print(f"Dropping {table_name}...")
#     sedona.sql(f"DROP TABLE IF EXISTS org_catalog.workshop.{table_name}")

# sedona.sql(f"SHOW TABLES IN {CATALOG}.{DATABASE}").show()

In [7]:
## Empty everything but hail_raw
# tables = sedona.sql(f"SHOW TABLES IN {CATALOG}.{DATABASE}").collect()

# for table in tables:
#     table_name = table['tableName']
#     sedona.sql(f"DELETE FROM {CATALOG}.{DATABASE}.{table_name}")

# sedona.sql(f"""
#     SELECT 'hail_state', COUNT(*) FROM {CATALOG}.{DATABASE}.hail_state
#     UNION ALL SELECT 'hail_county', COUNT(*) FROM {CATALOG}.{DATABASE}.hail_county
#     UNION ALL SELECT 'postcode_areas', COUNT(*) FROM {CATALOG}.{DATABASE}.postcode_areas
#     UNION ALL SELECT 'state_boundary', COUNT(*) FROM {CATALOG}.{DATABASE}.state_boundary
#     UNION ALL SELECT 'risk_comparison', COUNT(*) FROM {CATALOG}.{DATABASE}.risk_comparison
# """).show()

## Load Hail data past 3 months 

Dates templated by Airflow

Available years: 1995 - 2025

Could run this Dag weekly?

Question: will it be possible to pass information into the script?

In [14]:
end_date = datetime.strptime(END_DATE, '%Y-%m-%d').replace(day=1) - relativedelta(months=1) # first day of the last completed month

start_date = end_date - relativedelta(months=lookback_months)

years_needed = set()
current = start_date
while current <= end_date:
    years_needed.add(current.year)
    current += relativedelta(months=1)

years_needed = sorted(years_needed)
column_names = ['ZTIME', 'LON', 'LAT', 'WSR_ID', 'CELL_ID', 'RANGE', 'AZIMUTH', 'SEVPROB', 'PROB', 'MAXSIZE']

dfs = []
for year in years_needed:
    s3_uri = f"s3://noaa-swdi-pds/hail-{year}.csv"
    df = sedona.read.option("comment", "#")\
        .csv(s3_uri)\
        .toDF(*column_names)\
        .withColumn("ZTIME", to_timestamp(col("ZTIME"), "yyyyMMddHHmmss"))\
        .withColumn("geometry", expr("ST_Point(LON, LAT)"))
    dfs.append(df)

hail_df = dfs[0]
for df in dfs[1:]:
    hail_df = hail_df.union(df)

hail_df = hail_df.filter(
    (col("ZTIME") >= start_date) & (col("ZTIME") <= end_date)
)

hail_df.createOrReplaceTempView("hail_staging")

# upsert assuming sevprob, prob and maxsize can change for entries in the past 3 months
sedona.sql(f"""
    MERGE INTO {CATALOG}.{DATABASE}.hail_raw AS target
    USING (
        SELECT * FROM (
            SELECT 
                CAST(ZTIME AS TIMESTAMP) AS ZTIME,
                CAST(LON AS DOUBLE) AS LON,
                CAST(LAT AS DOUBLE) AS LAT,
                WSR_ID,
                CELL_ID,
                CAST(RANGE AS INT) AS RANGE,
                CAST(AZIMUTH AS INT) AS AZIMUTH,
                CAST(SEVPROB AS INT) AS SEVPROB,
                CAST(PROB AS INT) AS PROB,
                CAST(MAXSIZE AS DOUBLE) AS MAXSIZE,
                geometry,
                ROW_NUMBER() OVER (
                    PARTITION BY ZTIME, LON, LAT, WSR_ID, CELL_ID 
                    ORDER BY ZTIME
                ) AS rn
            FROM hail_staging
        ) WHERE rn = 1
    ) AS source
    ON target.ZTIME = source.ZTIME 
       AND target.LON = source.LON 
       AND target.LAT = source.LAT
       AND target.WSR_ID = source.WSR_ID
       AND target.CELL_ID = source.CELL_ID
    WHEN MATCHED THEN UPDATE SET
        SEVPROB = source.SEVPROB,
        PROB = source.PROB,
        MAXSIZE = source.MAXSIZE
    WHEN NOT MATCHED THEN INSERT (
        ZTIME, LON, LAT, WSR_ID, CELL_ID, RANGE, AZIMUTH, 
        SEVPROB, PROB, MAXSIZE, geometry
    ) VALUES (
        source.ZTIME, source.LON, source.LAT, source.WSR_ID, source.CELL_ID, 
        source.RANGE, source.AZIMUTH, source.SEVPROB, source.PROB, 
        source.MAXSIZE, source.geometry
    )
""")

DataFrame[]

### Debug checking

This will be a side task.

In [15]:
sedona.sql(f"""
    SELECT 
        COUNT(*) AS total_records,
        MIN(ZTIME) AS earliest_date,
        MAX(ZTIME) AS latest_date,
        COUNT(DISTINCT DATE(ZTIME)) AS unique_days,
        COUNT(DISTINCT WSR_ID) AS unique_stations,
        COUNT(CASE WHEN SEVPROB = -999 THEN 1 END) AS missing_sevprob,
        COUNT(CASE WHEN PROB = -999 THEN 1 END) AS missing_prob,
        COUNT(CASE WHEN MAXSIZE = -999 THEN 1 END) AS missing_maxsize,
        ROUND(AVG(NULLIF(MAXSIZE, -999)), 3) AS avg_hail_size,
        MAX(NULLIF(MAXSIZE, -999)) AS max_hail_size
    FROM {CATALOG}.{DATABASE}.hail_raw
""").show(truncate=False)

sedona.sql(f"""
    SELECT DATE(ZTIME) AS date, COUNT(*) AS events
    FROM {CATALOG}.{DATABASE}.hail_raw
    GROUP BY DATE(ZTIME)
    ORDER BY date DESC
    LIMIT 10
""").show()

sedona.sql(f"SELECT * FROM {CATALOG}.{DATABASE}.hail_raw LIMIT 5").show()

+-------------+-------------------+-------------------+-----------+---------------+---------------+------------+---------------+-------------+-------------+
|total_records|earliest_date      |latest_date        |unique_days|unique_stations|missing_sevprob|missing_prob|missing_maxsize|avg_hail_size|max_hail_size|
+-------------+-------------------+-------------------+-----------+---------------+---------------+------------+---------------+-------------+-------------+
|1753173      |2025-09-01 00:00:00|2025-11-26 06:32:44|70         |201            |737119         |737119      |737119         |0.566        |4.0          |
+-------------+-------------------+-------------------+-----------+---------------+---------------+------------+---------------+-------------+-------------+

+----------+------+
|      date|events|
+----------+------+
|2025-11-26|  2771|
|2025-11-25| 15591|
|2025-11-24| 28173|
|2025-11-22|  4125|
|2025-11-21|  9189|
|2025-11-18|  4135|
|2025-11-17|  1362|
|2025-11-16|  1304|
|2025-11-15|  2948|
|2025-11-14|   565|
+----------+------+

+-------------------+----------+--------+------+-------+-----+-------+-------+----+-------+--------------------+--------+
|              ZTIME|       LON|     LAT|WSR_ID|CELL_ID|RANGE|AZIMUTH|SEVPROB|PROB|MAXSIZE|            geometry|postcode|
+-------------------+----------+--------+------+-------+-----+-------+-------+----+-------+--------------------+--------+
|2025-09-01 00:00:04| -96.27532|33.09327|  KSHV|     B7|  129|    288|   -999|-999| -999.0|POINT (-96.27532 ...|    NULL|
|2025-09-01 00:00:27|-105.76825|34.90703|  KHDX|     Y1|  111|      9|      0|  60|    0.5|POINT (-105.76825...|    NULL|
|2025-09-01 00:00:56|-102.22954|30.04963|  KDFX|     L2|  112|    295|      0|  60|    0.5|POINT (-102.22954...|    NULL|
|2025-09-01 00:03:00| -79.61677|28.97956|  KTBW|     Y2|  166|     62|   -999|-999| -999.0|POINT (-79.61677 ...|    NULL|
|2025-09-01 00:03:32| -96.86527|33.13889|  KTLX|     X4|  133|    171|   -999|-999| -999.0|POINT (-96.86527 ...|    NULL|
+-------------------+----------+--------+------+-------+-----+-------+-------+----+-------+--------------------+--------+

## Get Overture Maps data

### Create state boundary

State based on the postcode

In [18]:
sedona.sql(f"""
    MERGE INTO {CATALOG}.{DATABASE}.state_boundary AS target
    USING (
        SELECT 
            da.id,
            d.names.primary AS state_name,
            d.region AS state_code,
            da.geometry
        FROM wherobots_open_data.overture_maps_foundation.divisions_division d
        JOIN wherobots_open_data.overture_maps_foundation.divisions_division_area da
            ON d.id = da.division_id
        WHERE d.subtype = 'region' 
          AND d.country = '{COUNTRY}'
          AND d.region = CONCAT('{COUNTRY}-', (
              SELECT address_levels[0].value
              FROM wherobots_open_data.overture_maps_foundation.addresses_address
              WHERE postcode = '{US_POSTCODE}' AND country = '{COUNTRY}'
              LIMIT 1
          ))
        LIMIT 1
    ) AS source
    ON target.id = source.id
    WHEN MATCHED THEN UPDATE SET 
        state_name = source.state_name,
        state_code = source.state_code,
        geometry = source.geometry
    WHEN NOT MATCHED THEN INSERT *
""")

sedona.sql(f"SELECT state_name, state_code FROM {CATALOG}.{DATABASE}.state_boundary").show()

+----------+----------+
|state_name|state_code|
+----------+----------+
|  Oklahoma|     US-OK|
+----------+----------+

### Creating the county area

Based on the provided postcode. I tried county but the areas were too small

In [19]:
# First check if the postcode exists  

sedona.sql(f"""
    SELECT COUNT(*) as cnt
    FROM wherobots_open_data.overture_maps_foundation.addresses_address
    WHERE postcode = '{US_POSTCODE}' AND country = 'US'
""").show()

[Stage 43:=======================================================>(57 + 1) / 58]

+-----+
|  cnt|
+-----+
|21502|
+-----+

In [22]:
center = sedona.sql(f"""
    SELECT ST_AsText(ST_Centroid(ST_Union_Aggr(geometry))) AS center_wkt
    FROM wherobots_open_data.overture_maps_foundation.addresses_address
    WHERE postcode = '{US_POSTCODE}' AND country = 'US'
""").collect()[0]['center_wkt']

sedona.sql(f"""
    MERGE INTO {CATALOG}.{DATABASE}.postcode_areas AS target
    USING (
        SELECT 
            '{US_POSTCODE}' AS postcode,
            'US' AS country,
            geometry AS area,
            CURRENT_TIMESTAMP() AS created_at
        FROM wherobots_open_data.overture_maps_foundation.divisions_division_area
        WHERE country = 'US'
          AND subtype = 'county'
          AND ST_Contains(geometry, ST_GeomFromText('{center}'))
        LIMIT 1
    ) AS source
    ON target.postcode = source.postcode AND target.country = source.country
    WHEN MATCHED THEN UPDATE SET area = source.area, created_at = source.created_at
    WHEN NOT MATCHED THEN INSERT *
""")

DataFrame[]

In [23]:
sedona.sql(f"""
    SELECT 
        '{US_POSTCODE}' as postcode,
        da.names.primary as county_name,
        ST_Area(ST_Transform(da.geometry, 'EPSG:4326', 'EPSG:3857')) / 2589988 as area_sqmi
    FROM wherobots_open_data.overture_maps_foundation.divisions_division_area da
    WHERE da.country = 'US'
      AND da.subtype = 'county'
      AND ST_Contains(da.geometry, ST_GeomFromText('{center}'))
""").show()

[Stage 61:======================================>                   (2 + 1) / 3]

+--------+---------------+------------------+
|postcode|    county_name|         area_sqmi|
+--------+---------------+------------------+
|   73034|Oklahoma County|1087.6549340874972|
+--------+---------------+------------------+

## Subset the hail data

### Subset state first

In [26]:
sedona.sql(f"""
    MERGE INTO {CATALOG}.{DATABASE}.hail_state AS target
    USING (
        SELECT h.*, s.state_code
        FROM {CATALOG}.{DATABASE}.hail_raw h
        JOIN {CATALOG}.{DATABASE}.state_boundary s
          ON ST_Contains(s.geometry, h.geometry)
    ) AS source
    ON target.ZTIME = source.ZTIME 
       AND target.LON = source.LON 
       AND target.LAT = source.LAT
       AND target.WSR_ID = source.WSR_ID
       AND target.CELL_ID = source.CELL_ID
    WHEN MATCHED THEN UPDATE SET
        SEVPROB = source.SEVPROB,
        PROB = source.PROB,
        MAXSIZE = source.MAXSIZE
    WHEN NOT MATCHED THEN INSERT *
""")

DataFrame[]

In [27]:
sedona.sql(f"SELECT DISTINCT(state_code), COUNT(*) as state_hail_count FROM {CATALOG}.{DATABASE}.hail_state GROUP BY state_code").show()

+----------+----------------+
|state_code|state_hail_count|
+----------+----------------+
|     US-OK|           81977|
+----------+----------------+

### Subset county

I noticed some postcodes have no hail entries -> We can fail the Airflow task in this case and ask users to pick a different code?

In [28]:
sedona.sql(f"""
    MERGE INTO {CATALOG}.{DATABASE}.hail_county AS target
    USING (
        SELECT h.ZTIME, h.LON, h.LAT, h.WSR_ID, h.CELL_ID, h.RANGE, 
               h.AZIMUTH, h.SEVPROB, h.PROB, h.MAXSIZE, h.geometry,
               p.postcode
        FROM {CATALOG}.{DATABASE}.hail_state h
        JOIN {CATALOG}.{DATABASE}.postcode_areas p
          ON ST_Contains(p.area, h.geometry)
        WHERE p.postcode = '{US_POSTCODE}'
    ) AS source
    ON target.ZTIME = source.ZTIME 
       AND target.LON = source.LON 
       AND target.LAT = source.LAT
       AND target.postcode = source.postcode
    WHEN MATCHED THEN UPDATE SET
        SEVPROB = source.SEVPROB,
        PROB = source.PROB,
        MAXSIZE = source.MAXSIZE
    WHEN NOT MATCHED THEN INSERT *
""")

sedona.sql(f"SELECT count(*) FROM {CATALOG}.{DATABASE}.hail_county WHERE postcode = '{US_POSTCODE}'").show()

+--------+
|count(1)|
+--------+
|     700|
+--------+

## Calculate comparison state vs county

damaging_events = max_size > 1

high_risk_events = sevprob > 50

filters -999 as

In [31]:
sedona.sql(f"""
    MERGE INTO {CATALOG}.{DATABASE}.risk_comparison AS target
    USING (
        WITH areas AS (
            SELECT 
                p.postcode,
                s.state_code,
                ST_Area(ST_Transform(p.area, 'EPSG:4326', 'EPSG:3857')) / 2589988 AS county_area_sqmi,
                ST_Area(ST_Transform(s.geometry, 'EPSG:4326', 'EPSG:3857')) / 2589988 AS state_area_sqmi
            FROM {CATALOG}.{DATABASE}.postcode_areas p, {CATALOG}.{DATABASE}.state_boundary s
            WHERE p.postcode = '{US_POSTCODE}'
        ),
        
        county_stats AS (
            SELECT 
                'county' AS area_type,
                '{US_POSTCODE}' AS area_id,
                COUNT(*) AS event_count,
                AVG(NULLIF(MAXSIZE, -999)) AS avg_hail_size,
                MAX(NULLIF(MAXSIZE, -999)) AS max_hail_size,
                AVG(NULLIF(SEVPROB, -999)) AS avg_severe_prob,
                AVG(NULLIF(PROB, -999)) AS avg_hail_prob,
                COUNT(CASE WHEN NULLIF(MAXSIZE, -999) >= 1.0 THEN 1 END) AS damaging_events,
                COUNT(CASE WHEN NULLIF(SEVPROB, -999) >= 50 THEN 1 END) AS high_risk_events
            FROM {CATALOG}.{DATABASE}.hail_county
            WHERE postcode = '{US_POSTCODE}'
              AND ZTIME >= DATE_SUB(CURRENT_DATE(), 180)
        ),
        
        state_stats AS (
            SELECT 
                'state' AS area_type,
                a.state_code AS area_id,
                COUNT(*) AS event_count,
                AVG(NULLIF(MAXSIZE, -999)) AS avg_hail_size,
                MAX(NULLIF(MAXSIZE, -999)) AS max_hail_size,
                AVG(NULLIF(SEVPROB, -999)) AS avg_severe_prob,
                AVG(NULLIF(PROB, -999)) AS avg_hail_prob,
                COUNT(CASE WHEN NULLIF(MAXSIZE, -999) >= 1.0 THEN 1 END) AS damaging_events,
                COUNT(CASE WHEN NULLIF(SEVPROB, -999) >= 50 THEN 1 END) AS high_risk_events
            FROM {CATALOG}.{DATABASE}.hail_state h, areas a
            WHERE ZTIME >= DATE_SUB(CURRENT_DATE(), 180)
            GROUP BY a.state_code
        )
        
        SELECT 
            n.area_type,
            n.area_id,
            n.event_count,
            ROUND(n.event_count / NULLIF(a.county_area_sqmi, 0), 4) AS events_per_sqmi,
            ROUND(n.avg_hail_size, 4) AS avg_hail_size,
            n.max_hail_size,
            ROUND(n.avg_severe_prob, 4) AS avg_severe_prob,
            ROUND(n.avg_hail_prob, 4) AS avg_hail_prob,
            n.damaging_events,
            ROUND(n.damaging_events / NULLIF(a.county_area_sqmi, 0), 4) AS damaging_per_sqmi,
            n.high_risk_events,
            ROUND(n.high_risk_events / NULLIF(a.county_area_sqmi, 0), 4) AS high_risk_per_sqmi,
            ROUND(a.county_area_sqmi, 4) AS area_sqmi,
            CURRENT_TIMESTAMP() AS updated_at
        FROM county_stats n, areas a
        
        UNION ALL
        
        SELECT 
            s.area_type,
            s.area_id,
            s.event_count,
            ROUND(s.event_count / NULLIF(a.state_area_sqmi, 0), 4) AS events_per_sqmi,
            ROUND(s.avg_hail_size, 4) AS avg_hail_size,
            s.max_hail_size,
            ROUND(s.avg_severe_prob, 4) AS avg_severe_prob,
            ROUND(s.avg_hail_prob, 4) AS avg_hail_prob,
            s.damaging_events,
            ROUND(s.damaging_events / NULLIF(a.state_area_sqmi, 0), 4) AS damaging_per_sqmi,
            s.high_risk_events,
            ROUND(s.high_risk_events / NULLIF(a.state_area_sqmi, 0), 4) AS high_risk_per_sqmi,
            ROUND(a.state_area_sqmi, 4) AS area_sqmi,
            CURRENT_TIMESTAMP() AS updated_at
        FROM state_stats s, areas a
    ) AS source
    ON target.area_type = source.area_type AND target.area_id = source.area_id
    WHEN MATCHED THEN UPDATE SET *
    WHEN NOT MATCHED THEN INSERT *
""")

sedona.sql(f"SELECT * FROM {CATALOG}.{DATABASE}.risk_comparison").show(truncate=False)

+------------+-------+-----------+---------------+-------------+-------------+---------------+-------------+---------------+-----------------+----------------+------------------+-----------+--------------------------+
|area_type   |area_id|event_count|events_per_sqmi|avg_hail_size|max_hail_size|avg_severe_prob|avg_hail_prob|damaging_events|damaging_per_sqmi|high_risk_events|high_risk_per_sqmi|area_sqmi  |updated_at                |
+------------+-------+-----------+---------------+-------------+-------------+---------------+-------------+---------------+-----------------+----------------+------------------+-----------+--------------------------+
|county|73034  |700        |0.6436         |0.722        |3.5          |18.7011        |61.4235      |93             |0.0855           |88              |0.0809            |1087.6549  |2026-02-08 19:48:51.761789|
|state       |US-OK  |81977      |0.7738         |0.6103       |4.0          |9.7626         |57.9389      |4942           |0.0466           |3639            |0.0343            |105947.6226|2026-02-08 19:48:51.761789|
+------------+-------+-----------+---------------+-------------+-------------+---------------+-------------+---------------+-----------------+----------------+------------------+-----------+--------------------------+

## Calculate premium adjustment

The idea is to have this run in Airflow s

In [32]:
risk_df = sedona.sql(f"""
    SELECT *
    FROM {CATALOG}.{DATABASE}.risk_comparison
    WHERE area_id IN ('{US_POSTCODE}', (SELECT state_code FROM {CATALOG}.{DATABASE}.state_boundary LIMIT 1))
""").toPandas()

risk_df

,area_type,area_id,event_count,events_per_sqmi,avg_hail_size,max_hail_size,avg_severe_prob,avg_hail_prob,damaging_events,damaging_per_sqmi,high_risk_events,high_risk_per_sqmi,area_sqmi,updated_at
0,county,73034,700,0.6436,0.7220,3.5,18.7011,61.4235,93,0.0855,88,0.0809,1087.6549,2026-02-08 19:48:51.761789
1,state,US-OK,81977,0.7738,0.6103,4.0,9.7626,57.9389,4942,0.0466,3639,0.0343,105947.6226,2026-02-08 19:48:51.761789

In [33]:
county = risk_df[risk_df['area_type'] == 'county'].iloc[0]
state = risk_df[risk_df['area_type'] == 'state'].iloc[0]
frequency_ratio = county['events_per_sqmi'] / max(state['events_per_sqmi'], 1e-10)
size_ratio = county['avg_hail_size'] / max(state['avg_hail_size'], 1e-10)
severity_ratio = county['avg_severe_prob'] / max(state['avg_severe_prob'], 1e-10)
damaging_ratio = county['damaging_per_sqmi'] / max(state['damaging_per_sqmi'], 1e-10)

weights = {
    'frequency': 0.25,
    'size': 0.25,
    'severity': 0.25,
    'damaging': 0.25
}

risk_score = (
    weights['frequency'] * frequency_ratio +
    weights['size'] * size_ratio +
    weights['severity'] * severity_ratio +
    weights['damaging'] * damaging_ratio
)

# Premium adjustment (1.0 = state average, >1 = increase, <1 = decrease)
# Scale: 10% adjustment per 0.5 deviation from 1.0
premium_modifier_pct = (risk_score - 1.0) * 20

print(f"=== Insurance Premium Analysis for {US_POSTCODE} ===")
print(f"\nRisk Ratios (vs State Average):")
print(f"  Frequency:  {frequency_ratio:.2f}x")
print(f"  Hail Size:  {size_ratio:.2f}x")
print(f"  Severity:   {severity_ratio:.2f}x")
print(f"  Damaging:   {damaging_ratio:.2f}x")
print(f"\nCombined Risk Score: {risk_score:.2f}")
print(f"  (1.0 = state average)")
print(f"\n{'='*40}")
print(f"PREMIUM ADJUSTMENT: {premium_modifier_pct:+.1f}%")
print(f"{'='*40}")

if premium_modifier_pct > 0:
    print(f"\nHigher risk than state average - premium increase recommended")
else:
    print(f"\nLower risk than state average - discount eligible")

=== Insurance Premium Analysis for 73034 ===

Risk Ratios (vs State Average):
  Frequency:  0.83x
  Hail Size:  1.18x
  Severity:   1.92x
  Damaging:   1.83x

Combined Risk Score: 1.44
  (1.0 = state average)

========================================
PREMIUM ADJUSTMENT: +8.8%
========================================

Higher risk than state average - premium increase recommended

## Viz

In [34]:
from sedona.spark.maps.SedonaKepler import SedonaKepler
from pyspark.sql.functions import col

worst_day = sedona.sql(f"""
    SELECT 
        DATE(ZTIME) as date,
        COUNT(*) as event_count,
        MAX(NULLIF(MAXSIZE, -999)) as max_size
    FROM {CATALOG}.{DATABASE}.hail_county
    WHERE postcode = '{US_POSTCODE}'
    GROUP BY DATE(ZTIME)
    ORDER BY max_size DESC, event_count DESC
    LIMIT 1
""").collect()[0]

worst_date = worst_day['date']

state_hail_worst_day_df = sedona.sql(f"""
    SELECT 
        ZTIME,
        LON,
        LAT,
        MAXSIZE,
        SEVPROB,
        PROB,
        geometry,
        DATE(ZTIME) as date
    FROM {CATALOG}.{DATABASE}.hail_state
    WHERE DATE(ZTIME) = '{worst_date}'
""")

state_boundary = sedona.sql(f"SELECT state_code FROM {CATALOG}.{DATABASE}.state_boundary").collect()[0]['state_code']

counties_df = sedona.table("wherobots_open_data.overture_maps_foundation.divisions_division_area")\
    .where(col("subtype") == "county")\
    .where(col("region") == state_boundary)\
    .select("geometry", col("names.primary").alias("county_name"))

county_name = sedona.sql(f"""
    SELECT da.names.primary as county_name
    FROM wherobots_open_data.overture_maps_foundation.divisions_division_area da,
         {CATALOG}.{DATABASE}.postcode_areas p
    WHERE da.subtype = 'county' 
      AND da.country = 'US'
      AND ST_Equals(da.geometry, p.area)
      AND p.postcode = '{US_POSTCODE}'
""").collect()

county_label = county_name[0]['county_name'] if county_name else f"County ({US_POSTCODE})"

selected_county_df = sedona.sql(f"""
    SELECT area as geometry, postcode
    FROM {CATALOG}.{DATABASE}.postcode_areas
    WHERE postcode = '{US_POSTCODE}'
""")

map_config = {'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'hail_layer', 'type': 'geojson', 'config': {'dataId': 'hail', 'label': f'Hail - {worst_date}', 'color': [255, 153, 31], 'columns': {'geojson': 'geometry'}, 'isVisible': True, 'visConfig': {'opacity': 0.8, 'radius': 10, 'filled': True, 'stroked': True}}, 'visualChannels': {'colorField': {'name': 'MAXSIZE', 'type': 'real'}, 'colorScale': 'quantile'}}, {'id': 'counties_layer', 'type': 'geojson', 'config': {'dataId': 'counties', 'label': 'Counties', 'color': [34, 63, 154], 'columns': {'geojson': 'geometry'}, 'isVisible': True, 'visConfig': {'opacity': 0.1, 'strokeOpacity': 0.3, 'thickness': 0.5, 'filled': False, 'stroked': True}}}, {'id': 'selected_county_layer', 'type': 'geojson', 'config': {'dataId': 'selected_county', 'label': county_label, 'color': [0, 255, 100], 'columns': {'geojson': 'geometry'}, 'isVisible': True, 'visConfig': {'opacity': 0.2, 'strokeOpacity': 1.0, 'thickness': 3, 'strokeColor': [0, 255, 100], 'filled': True, 'stroked': True}}}]}, 'mapStyle': {'styleType': 'dark-matter'}}}

worst_day_map = SedonaKepler.create_map(state_hail_worst_day_df, name="hail", config=map_config)
SedonaKepler.add_df(worst_day_map, counties_df, name="counties")
SedonaKepler.add_df(worst_day_map, selected_county_df, name="selected_county")

worst_day_map

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'hail_layer', 'type